@model Frontend.Models.CompoundAdminView

@{
    ViewBag.Title = "Admin Panel";
}
<h3 style="margin-top: 20px; margin-bottom: 20px;">Wpisy</h3>
<table class="table">
    <tr>
        <th>
            <strong>User</strong>
        </th>
        <th>
            <stong>Title</stong>
        </th>
        <th>
            <strong>Date</strong>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Usuń", "DeletePost", new { id = item.PostID })
            </td>
        </tr>
    }

</table>
<hr />
<h3 style="margin-top: 20px; margin-bottom: 20px;">Użytkownicy</h3>
@using (Html.BeginForm("UpdateUser", "Blog", FormMethod.Post))
{


    <div class="form-inline" style="text-align: center;">

        <div class="form-group">
            <label class="control-label col-md-2" for="User_username">Nazwa użytkownika</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.username, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="control-label col-md-2" style="margin-right: 10px;" for="User_status">Status</label>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.User.status, new SelectList(
        new List<SelectListItem>
        {
        new SelectListItem {Text = "User", Value = "user"},
        new SelectListItem {Text = "Admin", Value = "admin"},
         }, "Value", "Text"))

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="updateButton" type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}


